@use "mixins";
@use "@/app/scss/var.scss" as var;

$font-base: "Anime Ace";

$font-base-src: "/fonts/Anime Ace/anime-ace";

@include mixins.font-face(
  $font-base,
  400,
  normal,
  $font-base-src,
  ("woff2", "woff", "ttf")
);

.font-base {
  font-family: $font-base, "Arial", "sans-serif";
}
